@import "../../../styles.scss";

// Layout
.content {
    &__bank-panell {
        padding: $box-padding;
        background-color: white;

        // Small Mobile
        @media (max-width: 576px) {
            margin: $box-padding auto 0 auto;
        }
        // Large Mobile
        @media (min-width: 576px) and (max-width: 992px) {
            margin: $box-padding * 2 auto 0 auto;
        }
        // Desktop
        @media (min-width: 992px) {
            margin: 100px auto 0 auto;
            display: grid;
            grid-template-areas:
                "nav nav"
                "main-header aside-data"
                "main-action aside-status";
            grid-template-rows: 50px 160px 200px;
            grid-template-columns: 2fr 1fr;
            max-width: 992px;
            margin-top: 100px;
        }
    }

    // Nav
    .navbar {
        grid-area: nav;
        @media (max-width: 768px) {
            position: relative;
            display: block;
            margin-left: -$box-padding;
            padding: $box-padding;
            // min-width: calc(100% + 1.6rem);
        }
        @media (min-width: 768px) {
            padding: 0;
        }
        #navbar {
            background-color: rgba(white, 0.92);
            @media (max-width: 768px) {
                padding: $box-padding $box-padding $box-padding 0;
                max-width: 50%;
            }
            ul {
                @media (max-width: 768px) {
                    margin: $box-padding 0;
                }
                li {
                    line-height: 3rem;
                    a {
                        color: $dark;
                        @include transition;
                        @include commonText;
                        &:hover {
                            text-decoration: none;
                            color: $orange;
                        }
                        @media (max-width: 768px) {
                            padding-top: $box-padding;
                            padding-bottom: $box-padding;
                        }
                        @media (min-width: 768px) and (max-width: 992px) {
                            padding-right: $box-padding * 0.75;
                            padding-left: $box-padding * 0.75;
                        }
                        @media (min-width: 992px) {
                            padding-right: $box-padding * 1.25;
                            padding-left: $box-padding * 1.25;
                        }
                    }
                    &:last-child {
                        margin-right: 40px;
                    }
                }
            }
        }
    }
    // Main
    .main {
        box-sizing: border-box;
        &__header {
            // Large Mobile
            @media (min-width: 576px) and (max-width: 992px) {
                grid-area: main-header;
                margin-top: $box-padding / 4;
                display: grid;
                grid-template-areas:
                    "header-box header-box"
                    "slogan-box search-box";
                grid-template-rows: 80px 80px;
                grid-template-columns: 1fr 1.5fr;
            }
            // Desktop
            @media (min-width: 992px) {
                grid-area: main-header;
                margin-top: $box-padding / 4;
                margin-right: $box-padding;
                display: grid;
                grid-template-areas:
                    "header-box header-box"
                    "slogan-box search-box";
                grid-template-rows: 80px 80px;
                grid-template-columns: 1fr 2fr;
            }

            &__logo {
                grid-area: header-box;
                background-color: $dark-blue;
                align-self: center;
                height: 80px;
                padding: 10px 0;
                figure {
                    width: 60px;
                    float: right;
                    margin-right: $box-padding;
                }
            }
            &__slogan {
                margin-top: $box-padding / 2;
                grid-area: slogan-box;
                background-color: $ecru;
                align-self: center;
                height: 80px;
                padding-top: 20px;
                padding-bottom: 20px;

                display: grid;
                justify-items: center;
                align-items: center;

                figure {
                    align-self: center;
                    width: 160px;
                }
            }
            &__searchbar {
                margin-top: $box-padding / 2;
                grid-area: search-box;
                background-color: $ecru;
                align-self: center;
                height: 80px;
                padding: $box-padding $box-padding;
                display: grid;
                grid-template-columns: 2fr 1fr;
                // Desktop
                @media (min-width: 992px) {
                    margin-left: $box-padding / 4;
                }

                .form-control {
                    width: 100%;
                    height: 50px;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border: none;
                    @include commonText;
                }
                .btn {
                    width: 100%;
                    height: 50px;
                    border: 1px solid $ecru;
                    &:hover {
                        border: 1px solid $orange;
                    }
                }
            }
        }
        &__actionbar {
            grid-area: main-action;
            @media (max-width: 992px) {
                margin-top: $box-padding / 2;
            }
            // Desktop
            @media (min-width: 992px) {
                margin-top: $box-padding * 1.25;
                margin-right: $box-padding;
            }
            &__nav {
                // Small Mobile
                @media (max-width: 576px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-column-gap: $box-padding / 4;
                    grid-row-gap: $box-padding / 4;
                }
                // Large Mobile
                @media (min-width: 576px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    grid-column-gap: $box-padding / 4;
                    grid-row-gap: $box-padding / 4;
                }
                // Large Mobile
                @media (min-width: 992px) {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                }
                figure {
                    background-color: $sky-blue;
                    @include transition;
                    width: 1fr;
                    height: 80px;

                    img {
                        // Small Mobile
                        @media (max-width: 576px) {
                            width: 40%;
                            margin: 5% 30% 0 30%;
                        }
                        // Large Mobile
                        @media (min-width: 576px) and (max-width: 768px) {
                            width: 40%;
                            margin: 10% 30% 0 30%;
                        }
                        // Tablets
                        @media (min-width: 768px) and (max-width: 992px) {
                            width: 40%;
                            margin: 4% 30% 0 30%;
                        }
                        // Desktop
                        @media (min-width: 992px) {
                            width: 50%;
                            margin: 10% 25% 0 25%;
                        }
                    }
                    figcaption {
                        color: white;
                        text-align: center;
                        font-size: 0.7rem;
                        // Bigger than sm mobile
                    }
                    &.active,
                    &:hover {
                        cursor: pointer;
                        background-color: $dark-blue;
                    }
                }
            }
            .breadcrumb {
                padding: $box-padding * 0.75 $box-padding * 1.25;
                margin-bottom: 0;
                color: $dark;
                @include commonText;
                li {
                    a {
                        color: $orange;
                        margin-left: 0.3rem;
                    }
                }
            }
            hr {
                background-color: $ecru;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    // Aside
    .aside {
        &__group {
            // Tablets
            @media (min-width: 576px) and (max-width: 992px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-column-gap: $box-padding / 4;
                grid-row-gap: $box-padding / 4;
            }
            &__userdata {
                margin-top: $box-padding / 4;
                background-color: $sky-blue;
                padding: $box-padding * 1.5 $box-padding * 0.75;

                // Small Mobile
                @media (max-width: 576px) {
                }
                // Large Mobile
                @media (min-width: 576px) and (max-width: 768px) {
                }
                // Tablets
                @media (min-width: 768px) and (max-width: 992px) {
                }
                // Small Mobile
                @media (max-width: 576px) {
                    grid-area: aside-data;
                }
                // Desktop
                @media (min-width: 992px) {
                    grid-area: aside-data;
                    min-height: calc(100% + 4px);
                }

                h1,
                p {
                    span {
                        @include commonText;
                        font: {
                            weight: 500;
                        }
                    }
                    color: white;
                    margin-bottom: 0;
                    line-height: 125%;
                }
                h1 {
                    font-size: 1.4rem;
                }
                div {
                    display: grid;
                    grid-template-columns: 9% 39% 9% 39%;
                    grid-template-rows: 1fr;
                    grid-column-gap: 1%;
                    justify-items: stretch;
                    align-items: stretch;
                    margin-top: $box-padding * 0.75;

                    @include commonText;
                    font: {
                        weight: 500;
                    }
                    figure {
                        background-color: white;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                    }
                }
            }
            &__userstatus {
                padding: $box-padding * 1.5 $box-padding * 0.75 $box-padding * 0.75;
                background-color: $ecru;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // Small Mobile
                @media (max-width: 576px) {
                    grid-area: aside-status;
                    margin-top: $box-padding / 4;
                }
                @media (min-width: 576px) and (max-width: 992px) {
                    margin-top: $box-padding / 4;
                }
                // Desktop
                @media (min-width: 992px) {
                    grid-area: aside-status;
                    margin-top: $box-padding * 0.7;
                    min-height: calc(100% + 4px);
                }
                &__header {
                    display: grid;
                    grid-template-columns: auto 30px;
                    grid-column-gap: $box-padding / 4;
                    margin-bottom: $box-padding / 2;
                    p {
                        @include commonText;
                        color: darken($dark-blue, 15%);
                        font: {
                            size: 1.1rem;
                            weight: 500;
                        }
                    }
                    div {
                        @include square;
                        background-color: darken($dark-blue, 5%);
                        text-align: center;
                        font: {
                            size: 0.7rem;
                        }
                        line-height: 40px;
                        color: white;
                        float: right;
                    }
                }
                &__main {
                    padding: $box-padding;
                    background-color: white;

                    display: grid;
                    grid-template-columns: 5fr 2.25fr 0.75fr;
                    grid-column-gap: $box-padding / 2;
                    @include commonText;
                    line-height: 125%;
                    p {
                        color: $dark;
                    }
                    span {
                        color: $orange;
                        font: {
                            weight: 500;
                        }
                    }
                    figure {
                        background-color: $orange;
                        @include square;
                    }
                }
            }
        }
    }
}

.footer {
    max-width: 992px;
    margin: auto;
    @include commonText;

    // Small Mobile
    @media (max-width: 576px) {
    }
    // Tablet & Desktop
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }

    // Small Mobile
    @media (max-width: 576px) {
        grid-area: aside-status;
        margin-top: $box-padding / 4;
    }
    &__bank-panell {
        ul {
            padding-inline-start: 0;
            margin: $box-padding * 0.75 $box-padding;
            li {
                display: inline;
                a {
                    color: $dark;
                    padding-right: $box-padding;
                    @include transition;
                    &:hover {
                        color: $orange;
                        text-decoration: none;
                    }
                }
            }
        }
        p {
            padding-inline-end: 0;
            margin: $box-padding * 0.75 $box-padding;
            color: $dark-blue;
            .vertical-separator {
                margin: 0 $box-padding / 3;
            }
            span {
                color: $dark;
            }
        }
    }
}
// Hamburger Icon
#nav-toggle {
    display: none;
}

.hamburger-icon {
    position: relative;
    width: 28px;
    height: 16px;
    cursor: pointer;
}

.hamburger-icon span,
.hamburger-icon:before,
.hamburger-icon:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    overflow: hidden;
    background-color: $dark;
    border-radius: 1px;
}

.hamburger-icon:before,
.hamburger-icon:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    transform-origin: center top;
    transition: transform 0.2s, top 0.2s 0.2s;
}

.hamburger-icon:after {
    top: 100%;
    transform-origin: center bottom;
}

#nav-toggle:checked + .hamburger-icon span {
    opacity: 0;
}

#nav-toggle:checked + .hamburger-icon:after {
    top: 50%;
    transform: rotate(-45deg);
    transition: top 0.2s, transform 0.2s 0.2s;
}

#nav-toggle:checked + .hamburger-icon:before {
    top: 50%;
    transform: rotate(45deg);
    transition: top 0.2s, transform 0.2s 0.2s;
}
