<section class="container container__bank-panell animated fadeIn">
    <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <input type="checkbox" id="nav-toggle" />
            <label for="nav-toggle" class="hamburger-icon my-auto">
                <span class="navbar-toggler-icon"></span>
            </label>
        </button>
        <div class="collapse navbar-collapse shift" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="/">Site Map <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/">Contact us</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/">Locations</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/">Help</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/">FAQ'S</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/">عرب</a>
                </li>
            </ul>
            <button class="btn btn__gradient" type="button">Log out</button>
        </div>
    </nav>
    <main class="main main__header">
        <header class="main__header__logo">
            <figure>
                <img src="./assets/img/logos/logo_bank.png" alt="bank" width="100%" height="auto" />
            </figure>
        </header>
        <div class="main__header__slogan">
            <figure>
                <img src="./assets/img/logos/logo_bank2.png" alt="bank" width="100%" height="auto" />
            </figure>
        </div>
        <div class="main__header__searchbar">

            <input class="form-control" type="search" placeholder="Please: tell us what are you looking for"
                aria-label="Search">
            <button class="btn btn__gradient" type="button">Search</button>

        </div>
    </main>
    <main class="main main__actionbar">
        <nav>
            <a routerLinkActive="active" routerLink="/">
                <figure class="active">
                    <img src="./assets/img/icons/i-nav1.png" alt="home" width="100%" height="auto" />
                    <figcaption>Home</figcaption>
                </figure>
            </a>
            <figure>
                <img src="./assets/img/icons/i-nav2.png" alt="home" width="100%" height="auto" />
                <figcaption>Accounts</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav3.png" alt="home" width="100%" height="auto" />
                <figcaption>Transfers</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav4.png" alt="home" width="100%" height="auto" />
                <figcaption>Payments</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav5.png" alt="home" width="100%" height="auto" />
                <figcaption>Credit Cards</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav6.png" alt="home" width="100%" height="auto" />
                <figcaption>Mutual Funds</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav7.png" alt="home" width="100%" height="auto" />
                <figcaption>Services</figcaption>
            </figure>
        </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <span>You are in:</span>
                <li class="breadcrumb-item"><a routerLinkActive="active" routerLink="/">Home</a></li>
            </ol>
        </nav>
        <hr>
    </main>
    <aside class="aside aside__userdata">
        <h1>Hadi Farûq</h1>
        <p><span>Last logon:</span> 10/02/2020 7:21:15 AM</p>
        <div>
            <figure>
                <img src="./assets/img/icons/b-cr-img1.png" alt="home" width="100%" height="auto" />
            </figure>
            <p>My Al Mubasher</p>
            <figure>
                <img src="./assets/img/icons/b-cr-img2.png" alt="home" width="100%" height="auto" />
            </figure>
            <p>My Mailbox<br><small>3 unread emails</small></p>
        </div>
    </aside>
    <aside class="aside aside__userstatus">

        <div class="aside__userstatus__header">
            <p>Did you know...?</p>
            <div><i class="fa fa-minus"></i></div>
        </div>

        <div class="aside__userstatus__main">
            <p>
                You can customize 'My status' by rerranging the modules.
            </p>
            <span>Watch demo</span>
            <figure>
                <img src="./assets/img/icons/i-w-watch.png" alt="home" width="100%" height="auto" />
            </figure>
        </div>
    </aside>
</section>
<footer>
</footer>