<div class="container container__bank-panell animated fadeIn">
    <header class="row">
        <div class="col">
            <nav class="navbar navbar-expand-md">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <input type="checkbox" id="nav-toggle" />
                        <label for="nav-toggle" class="hamburger-icon my-auto">
                            <span class="navbar-toggler-icon"></span>
                        </label>
                    </button>
                <div class="collapse navbar-collapse shift" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item one-item">
                            <a class="nav-link" routerLink="/">Site Map <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item one-item">
                            <a class="nav-link" routerLinkActive="active"
                                routerLink="/">Contact us</a>
                        </li>
                        <li class="nav-item one-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/">Locations</a>
                        </li>
                        <li class="nav-item one-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/">Help</a>
                        </li>
                        <li class="nav-item one-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/">FAQ'S</a>
                        </li>
                        <li class="nav-item one-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="/">عرب</a>
                        </li>
                    </ul>
                    <button class="btn btn__gradient" type="button">Log out</button>
                </div>
            </nav>
        </div>
    </header>
    <div class="row row__main">
        <main>
            <header class="header__main">
            </header>
            <article class="header__article">
            </article>
        </main>
        <aside>
            <div>

            </div>
            <div>

            </div>
        </aside>
    </div>
</div>
<div class="container">
    <footer>
    </footer>
</div>