<section class="content content__bank-panell animated fadeIn">
    <nav class="navbar navbar-expand-md mr-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <input type="checkbox" id="nav-toggle" />
            <label for="nav-toggle" class="hamburger-icon my-auto">
                <span class="navbar-toggler-icon"></span>
            </label>
        </button>
        <div class="collapse navbar-collapse shift" id="navbar">
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/bank-panell-ar">خريطة الموقع</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/bank-panell-ar">اتصل بنا</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/bank-panell-ar">المواقع</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/bank-panell-ar">مساعدة</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/bank-panell-ar">التعليمات</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/account-panell-en">English</a>
                </li>

                
            </ul>
            <button class="btn btn__gradient" type="button">Log out</button>
        </div>
    </nav>
    <main class="main main__header">
        <header class="main__header__logo">
            <figure>
                <img src="./assets/img/logos/logo_bank.png" alt="bank" width="100%" height="auto" />
            </figure>
        </header>
        <div class="main__header__slogan">
            <figure>
                <img src="./assets/img/logos/logo_bank2.png" alt="bank" width="100%" height="auto" />
            </figure>
        </div>
        <div class="main__header__searchbar">

            <input class="form-control" type="search" placeholder="Please: tell us what are you looking for"
                aria-label="Search">
            <button class="btn btn__gradient" type="button">Search</button>

        </div>
    </main>
    <main class="main main__actionbar">
        <nav class="main__actionbar__nav">
            <a routerLinkActive="active" routerLink="/bank-panell-ar">
                <figure class="active">
                    <img src="./assets/img/icons/i-nav1.svg" alt="home" width="100%" height="auto" />
                    <figcaption>Home</figcaption>
                </figure>
            </a>
            <figure>
                <img src="./assets/img/icons/i-nav2.svg" alt="home" width="100%" height="auto" />
                <figcaption>Accounts</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav3.svg" alt="home" width="100%" height="auto" />
                <figcaption>Transfers</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav4.svg" alt="home" width="100%" height="auto" />
                <figcaption>Payments</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav5.svg" alt="home" width="100%" height="auto" />
                <figcaption>Credit Cards</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav6.svg" alt="home" width="100%" height="auto" />
                <figcaption>Mutual Funds</figcaption>
            </figure>
            <figure>
                <img src="./assets/img/icons/i-nav7.svg" alt="home" width="100%" height="auto" />
                <figcaption>Services</figcaption>
            </figure>
        </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ml-auto">
                <span>You are in:</span>
                <li class="breadcrumb-item"><a routerLinkActive="active" routerLink="/bank-panell-en">Home</a></li>
            </ol>
        </nav>
        <hr>
    </main>
    <aside class="aside aside__group">
        <aside class="aside aside__group__userdata">
            <h1>Hadi Farûq</h1>
            <p><span>Last logon:</span> 10/02/2020 7:21:15 AM</p>
            <div>
                <figure>
                    <img src="./assets/img/icons/b-cr-img1.svg" alt="home" width="100%" height="auto" />
                </figure>
                <p>My Al Mubasher</p>
                <figure>
                    <img src="./assets/img/icons/b-cr-img2.svg" alt="home" width="100%" height="auto" />
                </figure>
                <p>My Mailbox<br><small>3 unread emails</small></p>
            </div>
        </aside>
        <aside class="aside aside__group__userstatus">

            <div class="aside__group__userstatus__header">
                <p>Did you know...?</p>
                <div><i class="fa fa-minus"></i></div>
            </div>

            <div class="aside__group__userstatus__main">
                <p>
                    You can customize 'My status' by rerranging the modules.
                </p>
                <span>Watch demo</span>
                <figure>
                    <img src="./assets/img/icons/i-w-watch.svg" alt="home" width="100%" height="auto" />
                </figure>
            </div>
        </aside>
    </aside>
</section>
<footer class="footer footer__bank-panell">
    <ul>
        <li>
            <a routerLinkActive="active" routerLink="/bank-panell-ar">English</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/bank-panell-en">التعليمات</a>
        </li>

        <li>
            <a routerLinkActive="active" routerLink="/bank-panell-en">مساعدة</a>
        </li>

        <li>
            <a routerLinkActive="active" routerLink="/bank-panell-en">المواقع</a>
        </li>

        <li>
            <a routerLinkActive="active" routerLink="/bank-panell-en">اتصل بنا</a>
        </li>

        <li>
            <a routerLink="/bank-panell-en">خريطة الموقع</a>
        </li>
    </ul>
    
    <p>سياسة الأمان عبر الإنترنت<span class="vertical-separator">|</span> الاتفاقيات والشروط والأحكام<br>
        <span>حقوق النشر <i class="fa fa-copyright" aria-hidden="true"></i> 2020 XXXX بنك. كل الحقوق محفوظة</span>
    </p>
</footer>